streamlit
pandas
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
torch
python-dotenv
pytz
requests
pysqlite3-binary
huggingface_hub
numpy