streamlit
pandas
langchain
langchain-groq
langchain-community
chromadb
sentence-transformers
python-dotenv
pytz
requests
huggingface_hub
# Optional for performance but good for cloud
numpy
torch --index-url https://download.pytorch.org/whl/cpu